Repository CNES/shareloc: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-checking

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

add: DTMintersection constructor + tests
  shareloc/bindings/bind.cpp
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/bindings/test_dtm_intersection_bind.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: update CHANGELOG and AUTHORS
  AUTHORS.md
  CHANGELOG.md
Due: none

CI: cut line + docstring
  shareloc/bindings/bind.cpp
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
Due: sphinx-checking

add: DTMintersection eq_plan
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
Due: sphinx-checking

recfactor: add interpolate methode without test
  shareloc/bindings/dtm_intersection.cpp
Due: sphinx-checking

refactor: add index/ter methode
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/math_utils.py
  tests/geofunctions/test_dtm_intersection_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: rm debug comment
  shareloc/math_utils.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: py::array for python/c++ interface
  shareloc/bindings/bind.cpp
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  tests/geofunctions/test_dtm_intersection_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: merge optim_branch_luc + minor changes
  setup.py
  shareloc/bindings/dtm_intersection.hpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: fill dtm_intersection auxiliary methods
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/math_utils.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: rename rpc_c module into bindings_cpp
  .pylintrc
  docs/source/developer.rst
  setup.py
  shareloc/bindings/bind.cpp
  shareloc/geomodels/__init__.py
  shareloc/geomodels/rpc_optim.py
  tests/geofunctions/test_dtm_intersection_optim.py
  tests/geomodels/test_rpc_optim.py
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-checking

add: compute_epipolar_angle
  shareloc/bindings/bind.cpp
  shareloc/bindings/rectification.cpp
  tests/geofunctions/test_rectification_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: intersect_dtm_cube+intersection
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  sonar-project.properties
  tests/geofunctions/test_dtm_intersection_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: direct_loc_dtm
  shareloc/bindings/bind.cpp
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geofunctions/dtm_intersection.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

test: add test to reproduce bug #298
  tests/data/dtm/geoid/egm96.grd
  tests/data/dtm/geoid/egm96.grd.hdr
  tests/geofunctions/test_dtm_intersection.py
Due: isort, black, flake8, pylint

test: add geoid interpolation test with negative values
  tests/geofunctions/test_dtm_intersection.py
Due: isort, black, flake8, pylint

bug: value check must be in index not w.r.t origin
  shareloc/dtm_reader.py
Due: isort, black, flake8, pylint, sphinx-checking

test: update with anti meridian test
  tests/geofunctions/test_dtm_intersection.py
Due: isort, black, flake8, pylint

feat: add longitude overlap if needed
  shareloc/dtm_reader.py
Due: isort, black, flake8, pylint, sphinx-checking

test: update antimeridian test
  tests/geofunctions/test_dtm_intersection.py
Due: isort, black, flake8, pylint

doc: update CHANGELOG
  CHANGELOG.md
Due: none

doc: update sphinx doc
  docs/source/developer.rst
  docs/source/user_manual_functions.rst
Due: sphinx-checking

refactor: coloc + moving_along_axis + compute_epipolar_line + GeoModelTemplate
  setup.py
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/localization.cpp
  shareloc/bindings/rectification.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  sonar-project.properties
  tests/geofunctions/test_localization_optim.py
  tests/geofunctions/test_rectification_optim.py
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: filtering inconsistency between row/col and alt.
  shareloc/geomodels/los.py
  shareloc/geomodels/rpc.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: compute_stripe_of_epipolar_grid
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/localization.cpp
  shareloc/bindings/rectification.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  tests/data/rectification_optim/epi_angles_rpc_alti.npy
  tests/data/rectification_optim/left_grid_rpc_alti.npy
  tests/data/rectification_optim/right_grid_rpc_alti.npy
  tests/geofunctions/test_rectification_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: serialization DTMintersection
  shareloc/bindings/bind.cpp
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/geomodels/grid.py
  tests/geofunctions/test_dtm_intersection_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

docs: update elevation_handeling doc
  docs/source/user_manual_elevation_handling.rst
Due: sphinx-checking

refactor: same I/O for rpc.py and rpc_optim.py + improve test coverage
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geofunctions/localization.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

docs: doc on epipolar grid generation
  docs/source/images/0.png
  docs/source/images/1.png
  docs/source/images/2.png
  docs/source/images/3.png
  docs/source/images/4.png
  docs/source/user_manual_functions.rst
Due: sphinx-checking

clean: clean optimized code
  shareloc/bindings/bind.cpp
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/bindings/localization.cpp
  shareloc/bindings/rectification.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/dtm_reader.py
  tests/geofunctions/test_dtm_intersection_optim.py
  tests/geofunctions/test_localization_optim.py
  tests/geofunctions/test_rectification_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: dtm_reader remove read_data option
  docs/source/user_manual_elevation_handling.rst
  shareloc/dtm_reader.py
  tests/geofunctions/test_dtm_intersection.py
  tests/geofunctions/test_dtm_intersection_optim.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_rectification_optim.py
  tests/geomodels/test_rpc.py
  tests/geomodels/test_rpc_optim.py
  tests/helpers.py
  tests/test_dtm_image.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: direct_loc_h using inverse coef by default
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_los.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: remove the first object returned by intersect_dtm_cube and intersection
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/bindings/rpc.cpp
  shareloc/geofunctions/dtm_intersection.py
  shareloc/geomodels/grid.py
  tests/geofunctions/test_dtm_intersection_optim.py
  tests/geofunctions/test_localization.py
Due: isort, black, flake8, pylint, sphinx-checking

RPCoptim: direct_loc_dtm with ESPG!=4326
  shareloc/bindings/bind.cpp
  shareloc/bindings/dtm_intersection.cpp
  shareloc/bindings/dtm_intersection.hpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geofunctions/dtm_intersection.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  sonar-project.properties
  tests/geofunctions/test_dtm_intersection_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: setup boundaries for ROI in Image class (dtm_reader)
  shareloc/image.py
  tests/geofunctions/test_dtm_intersection.py
  tests/test_image.py
Due: isort, black, flake8, pylint, sphinx-checking

style: removed cout in C++
  shareloc/bindings/rpc.cpp
Due: sphinx-checking

feat: option for vertical_direction in Image constructor
  shareloc/image.py
  tests/data/image/phr_ventoux/left_image_y_inverted.tif
  tests/test_image.py
Due: isort, black, flake8, pylint, sphinx-checking

refac: expose triangulation core as a function
  shareloc/geofunctions/triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

bug: wrong dtm epsg getter
  shareloc/geomodels/grid.py
  tests/geofunctions/test_localization.py
Due: isort, black, flake8, pylint, sphinx-checking

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-checking: any of: ^(docs/.*|shareloc/.*)$
