Repository CNES/shareloc: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-checking

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

refac: pylint correction
  shareloc/geomodels/grid.py
Due: isort, black, flake8, pylint, sphinx-checking

test: add precision test for extrapolation
  tests/data/grid/phr_ventoux/GRID_PHR1B_P_201308051042194_SEN_690908101-001_LARGE.tif
  tests/geomodels/test_grid.py
Due: isort, black, flake8, pylint

bug: grid extrapolation with tests
  shareloc/geomodels/grid.py
  tests/geofunctions/test_localization.py
  tests/geomodels/test_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

bug: dtm optim width/height must be of type int
  shareloc/image.py
  tests/geofunctions/test_dtm_intersection_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

test: moved pickle to numpy 1.26
  tests/data/triangulation/cloud_ECEF.pickle
  tests/data/triangulation/disp1_ref.pickle
  tests/data/triangulation/disparity-crop.pickle
  tests/data/triangulation/triangulation1_ref.pickle
Due: none

doc: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: M_PI identifier not found (Windows error)
  shareloc/bindings/rectification.cpp
Due: sphinx-checking

style: indentation
  shareloc/bindings/rectification.cpp
Due: sphinx-checking

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: fix autoapi generation warnings with sphinx upgrade + quick typo in Makefile when installing
  Makefile
  shareloc/geofunctions/dtm_intersection.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: allow nan values for geoid interpolation
  shareloc/dtm_reader.py
  tests/geofunctions/test_dtm_intersection.py
Due: isort, black, flake8, pylint, sphinx-checking

Resolve "générer par défaut des grilles de position lors de la rectification"
  docs/source/user_manual_functions.rst
  shareloc/geofunctions/rectification.py
  shareloc/geofunctions/rectification_grid.py
  shareloc/geofunctions/triangulation.py
  tests/data/image/phr_gizeh/img1.0.5.tif
  tests/data/image/phr_gizeh/img1.tif
  tests/data/image/phr_gizeh/img2.0.5.tif
  tests/data/image/phr_gizeh/img2.tif
  tests/data/rectification_grids/phr_gizeh/corrected_right_epi_grid.tif
  tests/data/rectification_grids/phr_gizeh/left_epi_grid.tif
  tests/data/rectification_grids/phr_gizeh/right_epi_grid.tif
  tests/data/rpc/phr_gizeh/img1.geom
  tests/data/rpc/phr_gizeh/img2.geom
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

docs: update CHANGELOG for release 0.2.3
  CHANGELOG.md
Due: none

feat: add interpolator as parameter
  shareloc/geofunctions/rectification_grid.py
  shareloc/geofunctions/triangulation.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

use cubic_legacy with scipy>=1.13
  shareloc/geofunctions/rectification_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

bug: grids with proj4 crs.
  shareloc/geomodels/grid.py
  tests/data/grid/grid_ref_proj4.tif
  tests/geomodels/test_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: don't force cubic_legacy
  shareloc/geofunctions/rectification_grid.py
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

docs: update CHANGELOG for release 0.2.4
  CHANGELOG.md
Due: none

feat: add margin on rectif grid
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

test: adapt test to new interface
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint

fix: add margin to footprint in order to get rectification grid footprint with 'get_epipolar_extent'
  shareloc/geofunctions/rectification.py
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

tests: add 2 tests with margins on rectification grid
  shareloc/geofunctions/rectification.py
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: epipolar size has to stay the same
  shareloc/geofunctions/rectification.py
  tests/data/rectification/shareloc_gt_left_grid_with_margins.tif
  tests/data/rectification/shareloc_gt_right_grid_with_margins.tif
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

docs: update CHANGELOG for release 0.2.5
  CHANGELOG.md
Due: none

feat: add job to create and publish wheels with GH actions
  .github/workflows/create-and-publish-wheel.yml
  pyproject.toml
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix: skip python38 build
  pyproject.toml
Due: none

python 3.9
  .pylintrc
  Makefile
  README.md
  setup.cfg
  shareloc/__init__.py
  tests/geofunctions/test_localization.py
  tox.ini
Due: isort, black, flake8, pylint, sphinx-checking

bug: nan in dtm causes bug in localization
  shareloc/dtm_reader.py
  tests/data/dtm/dtm_philondenx_32630_nan.tif
  tests/data/dtm/dtm_philondenx_32630_nan_no_nodata.tif
  tests/test_dtm_image.py
Due: isort, black, flake8, pylint, sphinx-checking

docs: update changelog
  CHANGELOG.md
Due: none

fix: change repository-url
  .github/workflows/create-and-publish-wheel.yml
Due: none

feat: RectificationGrid object can be given as arg of epipolar_triangulation
  shareloc/geofunctions/triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

test: change tests api
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint

update changelog for release 0.2.7
  CHANGELOG.md
Due: none

feat: handle shareloc grid with status.
  shareloc/geomodels/grid.py
  tests/data/grid/grid_with_status.tif
  tests/geomodels/test_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

bug: robust mean baseline ratio
  shareloc/bindings/rectification.cpp
  shareloc/geofunctions/rectification.py
  tests/geofunctions/test_rectification_optim.py
  tests/geofunctions/test_strip_rectification_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: make triangulation more robust to deal with degraded lcoalisations
  shareloc/geofunctions/triangulation.py
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

comp: update pre-commit
  .pre-commit-config.yaml
Due: none

feat: coordinates conversion returns nan instead of inf
  shareloc/proj_utils.py
  tests/test_proj_utils.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: check wrong coordinates.
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/data/rpc/phr_oise/RPC_PHR1A_P_202503191043438_SEN_7342362101-1.XML
  tests/geomodels/test_grid.py
  tests/geomodels/test_rpc.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-checking: any of: ^(docs/.*|shareloc/.*)$
