Repository CNES/shareloc: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-checking

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

interface
  shareloc/geofunctions/triangulation.py
  shareloc/geomodels/los.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_los.py
Due: isort, black, flake8, pylint, sphinx-checking

refact: removed direction
  shareloc/geofunctions/rectification.py
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

minor: pass black
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

update rpc and grid readers
  shareloc/geomodels/geomodel.py
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_readers.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_grid.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

update rpc and grid readers
  shareloc/geomodels/geomodel_template.py
Due: isort, black, flake8, pylint, sphinx-checking

update load() interface
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

perf: reduce index transformation calls
  shareloc/geofunctions/dtm_intersection.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  tests/geofunctions/test_localization.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: use interpol_bilin for arrays
  shareloc/geofunctions/dtm_intersection.py
  shareloc/math_utils.py
Due: isort, black, flake8, pylint, sphinx-checking

minor: rename interpol_bilin
  shareloc/geofunctions/dtm_intersection.py
  shareloc/geomodels/grid.py
  shareloc/math_utils.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: resolve error in readthedocs build, update configuration
  .readthedocs.yml
Due: none

feat: class rpc_optim + test
  .pylintrc
  Makefile
  ascii_art.cpp
  setup.py
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_draft_pybind.py
  tests/geomodels/test_geomodel_template.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: align geomodels Grid and RPC API, clean RPC.from_any, update doc, clean geomodels
  docs/source/getting_started.rst
  docs/source/user_manual_conventions.rst
  docs/source/user_manual_geometric_models.rst
  shareloc/geofunctions/localization.py
  shareloc/geofunctions/rectification_grid.py
  shareloc/geomodels/geomodel.py
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_los.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: add geomodel template interface loc functions
  shareloc/geomodels/geomodel_template.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: replace RPC and Grid by GeoModel
  .pylintrc
  shareloc/geomodels/geomodel.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_grid.py
  tests/geomodels/test_los.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: update doc in functions arguments
  docs/source/getting_started.rst
  docs/source/user_manual_functions.rst
  docs/source/user_manual_geometric_models.rst
  shareloc/geofunctions/localization.py
  shareloc/geofunctions/rectification.py
  shareloc/geofunctions/triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: first geomodel structure to aggregate rpc and grid geomodel structure
  shareloc/geomodels/__init__.py
  shareloc/geomodels/geomodel.py
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

refac: change member of grid
  shareloc/geofunctions/localization.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: update shpinx
  docs/source/getting_started.rst
Due: sphinx-checking

refac: moved class member init
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  tests/geofunctions/test_rectification.py
  tests/geomodels/test_los.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: doc update explicit model type
  docs/source/getting_started.rst
  docs/source/user_manual_geometric_models.rst
Due: sphinx-checking

refac: moved espg member to geomodeltemplate
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: move .so to root & rename it
  .pylintrc
  Makefile
  ascii_art.cpp
  setup.cfg
  setup.py
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geomodels/__init__.py
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: remove demo function/method
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
Due: sphinx-checking

refactor: update to new master + improve test coverage
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geomodels/__init__.py
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/rpc_optim.py
  tests/data/geomodel_template/PHRDIMAP.json
  tests/data/geomodel_template/RPC_P1BP.json
  tests/data/geomodel_template/RPC_PHR1B.json
  tests/data/geomodel_template/geom.json
  tests/data/geomodel_template/tif.json
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: Basics of the cpp dev (POC)
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

Refactor: RpcOptim & RPC cpp constructor
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: polynomial_equation & compute_rational_function_polynomial
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

CI: API doc on cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: inverse loc & tests
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

CI: cut line
  shareloc/bindings/rpc.cpp
Due: sphinx-checking

refactor: change np testing func
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint

refactor: remove inverse coef check
  shareloc/bindings/rpc.cpp
Due: sphinx-checking

refactor: improve test coverage
  shareloc/bindings/rpc.cpp
  tests/geomodels/test_rpc.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

refactor: comment test lim_extrapol
  shareloc/bindings/rpc.cpp
Due: sphinx-checking

feat: add compute_strip_of_epipolar_grid function
  shareloc/geofunctions/rectification.py
  tests/data/rectification/gt_positions_grid_left.tif
  tests/data/rectification/gt_positions_grid_right.tif
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

test: add positions_to_displacement_grid test
  shareloc/geofunctions/rectification.py
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

refac: improve development
  shareloc/geofunctions/dtm_intersection.py
  shareloc/geofunctions/localization.py
  shareloc/geofunctions/rectification.py
  shareloc/image.py
  shareloc/proj_utils.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/test_image.py
Due: isort, black, flake8, pylint, sphinx-checking

test: update test assertions
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-checking: any of: ^(docs/.*|shareloc/.*)$
