Repository CNES/shareloc: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-checking

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

fix: clean warnings
  shareloc/geomodels/grid.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: document ground truth reference
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint

doc: note about JP2
  docs/source/faq.rst
  docs/source/index.rst
Due: sphinx-checking

minor: comment in code about footprint size
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: libgeo grid convention
  shareloc/geomodels/grid.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: add libgeo convention note
  docs/source/user_manual_geometric_models.rst
Due: sphinx-checking

test: add semi_pixel to grid
  tests/data/ellipsoide/P1BP--2017092838284574CP/GRID_P1BP--2017092838284574CP.tif
  tests/data/ellipsoide/P1BP--2017092838319324CP/GRID_P1BP--2017092838319324CP.tif
  tests/data/ellipsoide/P1BP--2018122638935449CP/GRID_P1BP--2018122638935449CP.tif
  tests/data/ellipsoide/loc_direct_grid_PHR_2013072139303958CP.tif
  tests/data/geoide/P1BP--2017030824934340CP/GRID_P1BP--2017030824934340CP.tif
  tests/data/grid/phr_ventoux/GRID_PHR1B_P_201308051042194_SEN_690908101-001.tif
  tests/data/grid/phr_ventoux/GRID_PHR1B_P_201308051042523_SEN_690908101-002.tif
  tests/data/grid/phr_ventoux/left_image_grid.tif
  tests/geofunctions/test_localization.py
  tests/geomodels/test_grid.py
Due: isort, black, flake8, pylint

xarray dataset replaced by pickle ones
  setup.cfg
  tests/data/triangulation/cloud_ECEF.nc
  tests/data/triangulation/cloud_ECEF.pickle
  tests/data/triangulation/disp1_ref.nc
  tests/data/triangulation/disp1_ref.pickle
  tests/data/triangulation/disparity-crop.nc
  tests/data/triangulation/disparity-crop.pickle
  tests/data/triangulation/triangulation1_ref.nc
  tests/data/triangulation/triangulation1_ref.pickle
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint

feat: config pytest warnings into error
  pytest.ini
Due: none

fix: add comment on netcdf4 to pickle data migration
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint

feat: changelog for release 0.1.5
  CHANGELOG.md
Due: none

fix: pandas 2.0.0 datas
  tests/data/triangulation/cloud_ECEF.pickle
  tests/data/triangulation/disp1_ref.pickle
  tests/data/triangulation/disparity-crop.pickle
  tests/data/triangulation/triangulation1_ref.pickle
Due: none

fix: set alt_min_max if arg not None
  shareloc/geomodels/los.py
Due: isort, black, flake8, pylint, sphinx-checking

test: add test_los file
  tests/geomodels/test_los.py
Due: isort, black, flake8, pylint

fix: update Makefile to not run install each time
  Makefile
Due: none

feat: update pytest usage with Makefile (some clean along...)
  Makefile
  pytest.ini
  setup.cfg
Due: none

fix: clean some logs and update, clean pylintrc strategy for logging
  .pylintrc
  shareloc/dtm_image.py
  shareloc/geofunctions/dtm_intersection.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  shareloc/image.py
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: update Makefile to be able to choose python3 version
  Makefile
Due: none

fix: clean, protect inputs and add comments for coloc function
  shareloc/geofunctions/localization.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: convert ndarray into float64 for py3.9 and py3.10
  shareloc/geofunctions/localization.py
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: dimap V3 version
  shareloc/geomodels/rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

style : add copyright
  shareloc/geomodels/rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: dimap V3
  docs/source/user_manual_geometric_models.rst
Due: sphinx-checking

feat: changelog for release 0.1.6
  CHANGELOG.md
Due: none

refacto: inverse geotransform class argument
  shareloc/image.py
Due: isort, black, flake8, pylint, sphinx-checking

refacto: init_min_max function
  shareloc/geofunctions/dtm_intersection.py
Due: isort, black, flake8, pylint, sphinx-checking

test: update ground_truth
  tests/data/srtm_ventoux_alt_max.npy
Due: none

feat: first geomodel structure to aggregate rpc and grid geomodel structure
  shareloc/geomodels/__init__.py
  shareloc/geomodels/geomodel.py
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: align geomodels Grid and RPC API, clean RPC.from_any, update doc, clean geomodels
  docs/source/getting_started.rst
  docs/source/user_manual_conventions.rst
  docs/source/user_manual_geometric_models.rst
  shareloc/geofunctions/localization.py
  shareloc/geofunctions/rectification_grid.py
  shareloc/geomodels/geomodel.py
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_los.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: add geomodel template interface loc functions
  shareloc/geomodels/geomodel_template.py
Due: isort, black, flake8, pylint, sphinx-checking

Add function get_sis2
  shareloc/geomodels/los.py
Due: isort, black, flake8, pylint, sphinx-checking

1 step with pybind
  pyproject.toml
  setup.cfg
  setup.py
  shareloc/draft_pybind/bind_helloworld.cpp
  shareloc/draft_pybind/example.cpp
  shareloc/draft_pybind/example_pybind.py
  shareloc/draft_pybind/hello_world.cpp
  shareloc/draft_pybind/hello_world.h
  tests/geomodels/test_draft_pybind.py
Due: isort, black, flake8, pylint, sphinx-checking

pre commit check 1step
  .pylintrc
  shareloc/draft_pybind/example_pybind.py
  tests/geomodels/test_draft_pybind.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: merge moving_to_next_line and moving_along_lines to moving_along_axis
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

test: replace moving_to_next_line and moving_along_lines
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint

traduction en cpp du squelette de GeoModelTemplate et RPC (sauf les fct load) + RAF test + aucun respect pour la CI
  setup.py
  shareloc/draft_pybind/221_python_files/geomodel.py
  shareloc/draft_pybind/221_python_files/geomodel_template.py
  shareloc/draft_pybind/221_python_files/helpers.py
  shareloc/draft_pybind/221_python_files/rpc.py
  shareloc/draft_pybind/221_python_files/test_rpc.py
  shareloc/draft_pybind/CMakeLists.txt
  shareloc/draft_pybind/GeoModelTemplate.cpp
  shareloc/draft_pybind/GeoModelTemplate.hpp
  shareloc/draft_pybind/bind_helloworld.cpp
  shareloc/draft_pybind/example_pybind.py
  shareloc/draft_pybind/hello_world.cpp
  shareloc/draft_pybind/hello_world.h
  shareloc/draft_pybind/rpc.cpp
  shareloc/draft_pybind/rpc.hpp
  tests/geomodels/test_draft_pybind.py
Due: isort, black, flake8, pylint, sphinx-checking

suppression de l'argument du constructor GeomodelTemplate
  shareloc/draft_pybind/GeoModelTemplate.cpp
  shareloc/draft_pybind/GeoModelTemplate.hpp
  shareloc/draft_pybind/bind_helloworld.cpp
  shareloc/draft_pybind/example_pybind.py
Due: isort, black, flake8, pylint, sphinx-checking

rework los
  shareloc/geomodels/los.py
  tests/geomodels/test_los.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: replace RPC and Grid by GeoModel
  .pylintrc
  shareloc/geomodels/geomodel.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_grid.py
  tests/geomodels/test_los.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

class rpc_optim fille de GeomodelTemple.py et rpc.cpp + test + RAF CI
  setup.py
  shareloc/bindings/GeoModelTemplate.cpp
  shareloc/bindings/GeoModelTemplate.hpp
  shareloc/bindings/bind_helloworld.cpp
  shareloc/bindings/rpc.cpp
  shareloc/bindings/rpc.hpp
  shareloc/draft_pybind/221_python_files/geomodel.py
  shareloc/draft_pybind/221_python_files/geomodel_template.py
  shareloc/draft_pybind/221_python_files/helpers.py
  shareloc/draft_pybind/221_python_files/rpc.py
  shareloc/draft_pybind/221_python_files/test_rpc.py
  shareloc/draft_pybind/CMakeLists.txt
  shareloc/draft_pybind/example.cpp
  shareloc/draft_pybind/example_pybind.py
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/data/geomodel_template/PHRDIMAP.json
  tests/data/geomodel_template/RPC_P1BP.json
  tests/data/geomodel_template/RPC_PHR1B.json
  tests/data/geomodel_template/geom.json
  tests/data/geomodel_template/tif.json
  tests/geomodels/test_geomodel_template.py
  tests/geomodels/test_rpc.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-checking: any of: ^(docs/.*|shareloc/.*)$
