Repository CNES/shareloc: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-checking

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: Isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: Black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: Flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-checking
    name: Checking Sphinx building
    entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
    language: system
    files: ^(docs/.*|shareloc/.*)$
    pass_filenames: False
    stages: [push]

docs: update CHANGELOG
  AUTHORS.md
  CHANGELOG.md
Due: none

ci: gitlab-ci for Shareloc
  .gitlab-ci.yml
  Makefile
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_rectification_optim.py
  tests/geofunctions/test_strip_rectification_grid.py
  tests/geofunctions/test_triangulation.py
  tests/geomodels/test_grid.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint

Apply 2 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

ci: update github url for shareloc
  .gitlab-ci.yml
Due: none

test: add test
  tests/test_dtm_image.py
Due: isort, black, flake8, pylint

fix: fix exception when dtm is outside the roi
  shareloc/image.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: fix for black
  shareloc/image.py
Due: isort, black, flake8, pylint, sphinx-checking

update changelog and authors
  AUTHORS.md
  CHANGELOG.md
Due: none

fix: fix in changelog
  CHANGELOG.md
Due: none

feat: shareloc-rpcconverter a tools for rpc read/write.
  docs/source/faq.rst
  docs/source/user_manual_geometric_models.rst
  setup.cfg
  shareloc/geomodels/rpc_readers.py
  shareloc/geomodels/rpc_writers.py
  shareloc/rpc_converter.py
  tests/geomodels/test_rpc.py
Due: isort, black, flake8, pylint, sphinx-checking

style: add docstring
  shareloc/rpc_converter.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: update on rpc_converter
  shareloc/geomodels/rpc_writers.py
  shareloc/rpc_converter.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: update doc
  docs/source/faq.rst
  shareloc/rpc_converter.py
Due: isort, black, flake8, pylint, sphinx-checking

tests: increase tolerance for numpa 0.62
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_localization_optim.py
  tests/geofunctions/test_rectification_optim.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint

feat: add CHANGELOG
  CHANGELOG.md
Due: none

docs: change images links
  README.md
Due: none

feat: add interpolator3D
  shareloc/geomodels/grid.py
  tests/geofunctions/test_localization.py
  tests/geomodels/test_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: handle array with ndim==0
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  shareloc/geomodels/rpc_optim.py
  tests/geomodels/test_grid.py
  tests/geomodels/test_rpc.py
  tests/geomodels/test_rpc_optim.py
Due: isort, black, flake8, pylint, sphinx-checking

bug : inverse loc outside alt boudns causes crash
  shareloc/geomodels/grid.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: resolution on margin
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

doc: update changelog
  CHANGELOG.md
Due: none

ci: migrate to Sonarqube component in gitlab-ci
  .gitlab-ci.yml
Due: none

test: update small threshold .
  tests/geofunctions/test_triangulation.py
Due: isort, black, flake8, pylint

force black to 25.*
  setup.cfg
Due: none

feat: extrapolate lat in inverse loc
  shareloc/geomodels/grid.py
  tests/geomodels/test_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: optimize rescale
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

add scaling_factor for adaptative step.
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

test: add tests.
  shareloc/geofunctions/rectification.py
  tests/data/rectification/shareloc_gt_left_grid_adaptative.tif
  tests/data/rectification/shareloc_gt_right_grid_adaptative.tif
  tests/geofunctions/test_rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

cast to int.
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: adapt epi_step (WIP)
  shareloc/geofunctions/localization.py
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: coloc api change. Code factorization
  shareloc/geofunctions/localization.py
  shareloc/geofunctions/rectification.py
  tests/geofunctions/test_localization.py
  tests/geofunctions/test_localization_optim.py
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_rectification_optim.py
  tests/geofunctions/test_strip_rectification_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

Apply 1 suggestion(s) to 1 file(s)
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

comp: doc compilation error
  docs/source/conf.py
Due: isort, black, flake8, pylint, sphinx-checking

feat: max_ratio as parameter
  shareloc/geofunctions/rectification.py
Due: isort, black, flake8, pylint, sphinx-checking

bug: grid extrapolation for DEM intersection.
  shareloc/geomodels/geomodel_template.py
  shareloc/geomodels/grid.py
  shareloc/geomodels/rpc.py
  tests/geofunctions/test_localization.py
Due: isort, black, flake8, pylint, sphinx-checking

bug: arange is not numerically stable
  shareloc/geomodels/grid.py
Due: isort, black, flake8, pylint, sphinx-checking

fix : cover both images with epipolar rectification grids
  docs/source/user_manual_functions.rst
  shareloc/geofunctions/rectification.py
  tests/data/rectification/otb_left_grid_100.tif
  tests/data/rectification/otb_left_grid_dtm.tif
  tests/data/rectification/otb_right_grid_100.tif
  tests/data/rectification/otb_right_grid_dtm.tif
  tests/data/rectification/shareloc_gt_left_grid.tif
  tests/data/rectification/shareloc_gt_left_grid_adaptative.tif
  tests/data/rectification/shareloc_gt_left_grid_with_margins.tif
  tests/data/rectification/shareloc_gt_positions_grid_left.tif
  tests/data/rectification/shareloc_gt_positions_grid_right.tif
  tests/data/rectification/shareloc_gt_right_grid.tif
  tests/data/rectification/shareloc_gt_right_grid_adaptative.tif
  tests/data/rectification/shareloc_gt_right_grid_with_margins.tif
  tests/geofunctions/test_rectification.py
  tests/geofunctions/test_rectification_coverage.py
  tests/geofunctions/test_strip_rectification_grid.py
Due: isort, black, flake8, pylint, sphinx-checking

style: typo in docstring
  shareloc/geofunctions/triangulation.py
Due: isort, black, flake8, pylint, sphinx-checking

fix: downgrade affine from 3.0.1 to 3.0.0
  setup.cfg
Due: none
